body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('img/fundo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(85, 6, 213);
}

.game-board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 15px;
    padding: 10px;
    width: 100%;
    max-width: 500px;
}

.card {
    width: 100%;
    aspect-ratio: 4/5;
    /* Mantém a proporção da carta */
    perspective: 1000px;
    cursor: pointer;
    position: relative;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.6s ease;
}

.front {
    background-image: url('img/fundocarta.jpg');
    background-size: cover;
    background-position: center;
    transform: rotateY(0deg);
}

.back {
    background-color: white;
    transform: rotateY(180deg);
}

.card.flip .front {
    transform: rotateY(180deg);
}

.card.flip .back {
    transform: rotateY(360deg);
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.congratulations-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(3, 1, 1, 0.701);
    color: rgb(219, 214, 214);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    z-index: 10;
}

.congratulations-message h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.congratulations-message button {
    padding: 10px 20px;
    background-color: #4c51af;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.congratulations-message button:hover {
    background-color: #45a049;
}

/* Media query para telas maiores, como computadores */
@media (min-width: 768px) {
    .game-board {
        grid-template-columns: repeat(4, 150px);
        /* Cartas menores no desktop */
        gap: 20px;
        max-width: 700px;
        /* Ajusta a largura máxima da área de jogo */
    }

    .card {
        width: 150px;
        /* Reduz o tamanho das cartas */
        height: 200px;
    }

    h1 {
        font-size: 2.5rem;
        /* Título maior para desktop */
    }
}